<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work</title>
    <link rel="stylesheet" href="./styles/styles.css" />
  </head>
  <body>
    <header>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </header>
    <ul class="works">
      <li>Astronaut</li>
      <li>Power Plant Operator</li>
      <li>Mariachi</li>
      <li>Actor</li>
      <li>Doctor</li>
    </ul>
  </body>
</html>
