@import url("https://fonts.cdnfonts.com/css/homer-simpson-revised");
body {
  background: rgb(193, 174, 238);
  background: linear-gradient(
    87deg,
    rgba(193, 174, 238, 1) 38%,
    rgba(148, 233, 176, 1) 57%
  );
  font-family: "Homer Simpson Revised", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header a {
  display: block;
}

.works li {
  display: inline block;
  list-style: none;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
